@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
